In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing

In [2]:
df = pd.read_csv('C:\\Users\\Mariano\\Desktop\\WebScraping\\files\\df_final.csv')
df.head(3)

,precio,uva,dia,mes,ano,decena_1,decena_2,decena_3,tri_1,tri_2,tri_3,precio2,diferencia
0,955,463.0,2,1,24,1,0,0,1,0,0,893.741080,61.258920
1,1205,525.0,24,1,24,0,0,1,1,0,0,994.416533,210.583467
2,1165,561.0,1,2,24,1,0,0,1,0,0,958.181457,206.818543

In [3]:
#Escalamiento
df=df[['precio','uva','decena_1','decena_2','decena_3','tri_1','tri_2','tri_3']] #separo las variables que voy a escalar
df=preprocessing.MinMaxScaler().fit_transform(df)

In [4]:
#Convertir el ndarray escalado de nuevo a DataFrame
df = pd.DataFrame(df, columns=['precio', 'uva', 'decena_1', 'decena_2', 'decena_3', 'tri_1', 'tri_2', 'tri_3'])
print(df.head(3),type(df))

    precio       uva  decena_1  decena_2  decena_3  tri_1  tri_2  tri_3
0  0.00000  0.000000       1.0       0.0       0.0    1.0    0.0    0.0
1  0.47619  0.096309       0.0       0.0       1.0    1.0    0.0    0.0
2  0.40000  0.152231       1.0       0.0       0.0    1.0    0.0    0.0 <class 'pandas.core.frame.DataFrame'>

In [5]:
# Separar las características (X) y el target (y)
X = df.drop(['precio'],axis=1) 
y = df['precio']

# Divido los datos en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
#print(X_train, X_test, y_train, y_test)

# Creo y entreno el modelo.
model = LinearRegression()
model.fit(X_train, y_train)

# Hacer predicciones en el conjunto de prueba
y_pred = model.predict(X_test).round(5)
print('La cantidad de datos para testear es de: ',len(y_pred))

mse = mean_squared_error(y_test, y_pred)
print(f'El Error Cuadrático Medio (MSE) en el conjunto de prueba es: {mse:.10f}')

La cantidad de datos para testear es de:  20
El Error Cuadrático Medio (MSE) en el conjunto de prueba es: 0.0195715111

In [7]:
#Armo el df con la prediccion en cada instancia y la diferencia
df['precio2'] = model.predict(X)
df['diferencia']=df['precio']-df['precio2']
df

,precio,uva,decena_1,decena_2,decena_3,tri_1,tri_2,tri_3,precio2,diferencia
0,0.000000,0.000000,1.0,0.0,0.0,1.0,0.0,0.0,-0.120937,0.120937
1,0.476190,0.096309,0.0,0.0,1.0,1.0,0.0,0.0,0.062603,0.413588
2,0.400000,0.152231,1.0,0.0,0.0,1.0,0.0,0.0,0.007094,0.392906
3,0.123810,0.337082,1.0,0.0,0.0,1.0,0.0,0.0,0.162560,-0.038750
4,0.038095,0.393004,0.0,1.0,0.0,1.0,0.0,0.0,0.263895,-0.225799
...,...,...,...,...,...,...,...,...,...,...
90,0.800000,0.982618,1.0,0.0,0.0,0.0,0.0,0.0,0.843373,-0.043373
91,0.790476,0.990043,1.0,0.0,0.0,0.0,0.0,0.0,0.849617,-0.059141
92,0.780952,0.995014,1.0,0.0,0.0,0.0,0.0,0.0,0.853798,-0.072846
93,0.761905,0.997499,1.0,0.0,0.0,0.0,0.0,0.0,0.855888,-0.093984
94,0.723810,1.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.857992,-0.134182